<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Van Gogh Exhibition</title>

    <link rel="stylesheet" href="/css/reset_plus.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="hamburger">
        <a href="/menu">
          <div></div>
          <div></div>
          <div></div>
        </a>
      </div>
        <a href="/" style="text-decoration:none;"><h1>Van Gogh Exhibition</h1></a>
    </header>
