<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
<head>
  <meta charset="utf-8">

  <title>Van Gogh Exhibition</title>

  <link rel="stylesheet" href="/css/reset_plus.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <div class="menuback">
        <div class="crossicon">
            <a href="javascript:history.back()">
                <div class="cross"></div>
            </a>
        </div>

        <a href="/allekunst">Volledige Tentoonstelling</a>
        <a href="/contact">Contact</a>
    </div>
  </body>
</html>
